{% extends 'core/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/prosoft.css' %}" />
{% endblock %}

{% block path %}| Cotización{% endblock %}

{% block content %}
<div class="prosoft-header">
    <div>
        <h1>Cotización</h1>
    </div>
</div>

<div class="container mb-5">
    {% if document.document %}
    <div class="document-container">

        <embed src="{{ document.document.url }}" width="500" height="375" type="application/pdf">

    </div>
    <a href="{{ document.document.url }}" class="btn btn-secondary btn-lg btn-block rounded-0" download>Descargar</a>
    {% else %}
    <div class="d-flex align-content-center text-center w-100">
        <h1>No hay documento de cotización</h1>
    </div>
    {% endif %}
</div>


{% endblock %}
