{% extends 'core/base.html' %}

{% load static %}

{% block path %}| Productos y Servicios{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/services.css' %}" />
{% endblock %}

{% block content %}

<div class="row service-container">
    <div class="col-3 service-img"></div>
    <div class="col-9 container pt-4">
        <h1 class="service-list-title pb-3">Servicios que Ofrecemos</h1>
        <div class="row">
            <div class="col-sm-6 mb-3 rounded">
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-start">
                    <i class="fa fa-database service-list-icon"></i>
                    <span class="align-self-center pl-3">Bases de Datos</span>
                </div>
            </div>
            <div class="col-sm-6 mb-3 rounded">
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-start">
                    <i class="fa fa-desktop service-list-icon"></i>
                    <span class="align-self-center pl-3">Desarrollo Software a la Medida</span>
                </div>
            </div>
            <div class="col-sm-6 mb-3 rounded">
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-start">
                    <i class="fa fa-server service-list-icon"></i>
                    <span class="align-self-center pl-3">Virtualización</span>
                </div>
            </div>
            <div class="col-sm-6 mb-3 rounded">
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-start">
                    <i class="fa fa-unlock service-list-icon"></i>
                    <span class="align-self-center pl-3">Protección de Datos e Intimidad</span>
                </div>
            </div>
            <div class="col-sm-6 mb-3 rounded">
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-start">
                    <i class="fa fa-users service-list-icon"></i>
                    <span class="align-self-center pl-3">Protección del Consumidor</span>
                </div>
            </div>
            <div class="col-sm-6 mb-3 rounded">
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-start">
                    <i class="fa fa-user-secret service-list-icon"></i>
                    <span class="align-self-center pl-3">Ciberdelicuencia</span>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
