<div id="sideBar" class="sidenav sidenav-hide">
    <ul>
        <li><button id="closeNav"><span class="mr-2">&times;</span>Cerrar</button></li>
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'about-us' %}">Nosotros</a>
            </li>
            <li>
                <a href="">Productos y Servicios</a>
            </li>
            <li>
                <a href="">Cotizaciones</a>
            </li>
            <li>
                <a href="">Clientes</a>
            </li>
            <li>
                <a href="{% url 'portafolio' %}">Portafolio</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contacto</a>
            </li>
            <li class="dropdown">
                <a href="">PROSOFT <span class="ml-1">&rsaquo;</span></a>
                <ul>
                    <li>
                        <a href="#">PROSOFT</a>
                    </li>
                    <li><a href="#">Documentación Soporte</a></li>
                    <li><a href="#">Cronograma</a></li>
                    <li><a href="#">Cotización</a></li>
                    <li><a href="#">Gobierno como cliente</a></li>
                </ul>
            </li>
    </ul>
</div>
