{% extends 'core/base.html' %}

{% block path %}| Integrantes de Equipo{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Integrantes de Equipo</h1>
</div>
<div class="container" style="padding: auto;">
  {% for team_member in team_members %}
  <div class="card mb-4" style="max-width: 540px; max-height: 200px; margin-left: auto; margin-right: auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ team_member.profile_img.url }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ team_member.user.get_full_name }}</h5>
          <p class="card-text">Boleta: {{ team_member.id_number }}</p>
          <p class="card-text"><small class="text-muted">{{ team_member.role }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h1>No hay Miembros de Equipo</h1>
  {% endfor %}
</div>
{% endblock %}
