{% extends 'core/base.html' %}

{% load static %}

{% block path %}| Integrantes de Equipo{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/teams.css' %}" />
{% endblock %}

{% block content %}
<div id="team-header"></div>

<div class="container" style="padding: auto;">
  <h1 class="text-center m-5">Integrantes de Equipo</h1>
  {% for team_member in team_members %}
  <div class="card mb-4">
    <div class="row no-gutters">
      <div class="col-4">
        <img src="{{ team_member.profile_img.url }}" class="card-img" alt="...">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ team_member.user.get_full_name }}</h5>
          <p class="card-text">Boleta: {{ team_member.id_number }}</p>
          <p class="card-text"><small class="text-muted">{{ team_member.role }}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h1>No hay Miembros de Equipo</h1>
  {% endfor %}
</div>
{% endblock %}
